#section1_div{
    width: 1000px;
    display: flex;
    /* width: 100%; */
    /* background-color: red; */
    align-items: center;
    justify-content: space-around;

}
.texts{
    width: 450px;
    height: 400px;
    /* background-color: blue; */
    gap: 0;
}
.offer{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(111, 17, 233);
    border: none;
    color: white;
    margin-bottom: 20px;
}
.texts h1{
    width: 60px;
    font-size: 40px;
    margin: 0;
}
.texts h2{
    width: 60px;
    font-size: 40px;
    margin: 0;
    color: rgb(111, 17, 233);
}
.texts p{
    /* width: 300px; */
    font-size: 20px;
    color: gray;
}
.sec1_btns{
    width: 300px;
    height: 80px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    gap: 10px;
}
#shop_btn{
    width: 120px;
    height: 60px;
    background-color: rgb(111, 17, 233);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
}
#shop_btn:hover{
    /* background-color: transparent; */
    position: relative;
    background-color: rgb(77, 0, 179);
    top: -3px;
    transition: all 0.6s ease;
}
#view_btn{
    width: 170px;
    height: 60px;
    background-color: transparent;
    border: 2px solid rgb(111, 17, 233);
    color: rgb(111, 17, 233);
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
}
#view_btn:hover{
    background-color: rgb(223, 209, 242);
    /* color: white; */
    transition: all 0.6s ease;
}
.mal{
    width: 350px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}
.mal p{
    font-size: 15px;
    top: 0;
    position: relative;
    /* width: 130px; */
    height: 0px;
    /* background-color: green; */
}
.mal h4{
    font-size: 20px;
    position: relative;
    bottom: 0;
    /* background-color: blue; */
    /* width: 130px; */
    height: 0px;
    /* color: rgb(111, 17, 233); */
}
.mal div{
    display: flex;
    flex-direction: column;
    gap: 0;
}